In [1]:
# Pandas basic training

import pandas as pd
import numpy as np

In [2]:
# Pandas reads csv-file and converts it to a DataFrame
wh = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")
wh.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8

In [3]:
wh["Snow depth (cm)"].head()

0    -1.0
1    -1.0
2     7.0
3    13.0
4    10.0
Name: Snow depth (cm), dtype: float64

In [4]:
wh["Air temperature (degC)"].mean()

6.527123287671233

In [7]:
wh.drop("Time zone", axis="columns").head() # Return a copy of the orginal dataframe "Time zone" column dropped.

,Year,m,d,Time,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,-1.0,-1.0,0.6
1,2017,1,2,00:00,4.4,-1.0,-3.9
2,2017,1,3,00:00,6.6,7.0,-6.5
3,2017,1,4,00:00,-1.0,13.0,-12.8
4,2017,1,5,00:00,-1.0,10.0,-17.8

In [8]:
wh.head()     # Original DataFrame is unchanged

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8

In [9]:
wh["Rainy"] = wh["Precipitation amount (mm)"] > 5
wh.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC),Rainy
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6,False
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9,False
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5,True
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8,False
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8,False

In [11]:
# Creation and indexing of series

s = pd.Series([1,4,5,2,5,2])
s

0    1
1    4
2    5
3    2
4    5
5    2
dtype: int64

In [12]:
s.name = "Grades"
s

0    1
1    4
2    5
3    2
4    5
5    2
Name: Grades, dtype: int64

In [13]:
print(f"Name: {s.name}, dtype: {s.dtype}, size: {s.size}")

Name: Grades, dtype: int64, size: 6

In [14]:
s.size

6

In [15]:
s[1]

4

In [16]:
s2=s[[0,5]]                    # Fancy indexing
print(s2)

0    1
5    2
Name: Grades, dtype: int64

In [17]:
t=s[-2:]                    # Slicing
t

4    5
5    2
Name: Grades, dtype: int64

In [18]:
t[4]                        # indices stick to the corresponding values

5

In [20]:
s2

0    1
5    2
Name: Grades, dtype: int64

In [21]:
s2.values

array([1, 2], dtype=int64)

In [22]:
s2.index

Int64Index([0, 5], dtype='int64')

In [23]:

s3=pd.Series([1, 4, 5, 2, 5, 2], index=list("abcdef"))
s3

a    1
b    4
c    5
d    2
e    5
f    2
dtype: int64

In [24]:
# if the indices are not integers, then the last index of the slice 
# is included in the result. 

s3["b":"e"]

b    4
c    5
d    2
e    5
dtype: int64

In [25]:
s3[1]

4

In [26]:
s4 = pd.Series(["Jack", "Jones", "James"], index=[1,2,3])
s4

1     Jack
2    Jones
3    James
dtype: object

In [27]:
s4[1]

'Jack'

In [28]:
print(s4.loc[1]) # explicit index
print(s4.iloc[1]) # implicit integer index

Jack
Jones