In [ ]:
# In Pandas a Series whose index consists of dates/times is a time series.

In [2]:
import pandas as pd

In [3]:
wh = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")

In [4]:
wh3 = wh.rename(columns={"m": "Month", "d": "Day", "Precipitation amount (mm)" : "Precipitation",
                         "Snow depth (cm)" : "Snow", "Air temperature (degC)" : "Temperature"})
wh3.head()

   Year  Month  Day   Time Time zone  Precipitation  Snow  Temperature
0  2017      1    1  00:00       UTC           -1.0  -1.0          0.6
1  2017      1    2  00:00       UTC            4.4  -1.0         -3.9
2  2017      1    3  00:00       UTC            6.6   7.0         -6.5
3  2017      1    4  00:00       UTC           -1.0  13.0        -12.8
4  2017      1    5  00:00       UTC           -1.0  10.0        -17.8

In [5]:
wh2 = wh3.copy()
wh2.columns

Index(['Year', 'Month', 'Day', 'Time', 'Time zone', 'Precipitation', 'Snow',
       'Temperature'],
      dtype='object')

In [ ]:
wh2["Date"] = pd.to_datetime(wh2[["Year", "Month", "Day"]])
wh2.head()