In [ ]:
# Pandas summary statistics

In [1]:
import pandas as pd

In [2]:
# Let's read some wether data
wh = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")

In [3]:
wh.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8

In [4]:
# Let's drop some comumns, as taking averages over these is not very interesting.
wh2 = wh.drop(["Year", "m", "d"], axis=1)  
wh2.mean()

Precipitation amount (mm)    1.966301
Snow depth (cm)              0.966480
Air temperature (degC)       6.527123
dtype: float64

In [5]:
# Summary statistics for each numeric column as DataFrame.
wh.describe()

,Year,m,d,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
count,365.0,365.000000,365.000000,365.000000,358.000000,365.000000
mean,2017.0,6.526027,15.720548,1.966301,0.966480,6.527123
std,0.0,3.452584,8.808321,4.858423,3.717472,7.183934
min,2017.0,1.000000,1.000000,-1.000000,-1.000000,-17.800000
25%,2017.0,4.000000,8.000000,-1.000000,-1.000000,1.200000
50%,2017.0,7.000000,16.000000,0.200000,-1.000000,4.800000
75%,2017.0,10.000000,23.000000,2.700000,0.000000,12.900000
max,2017.0,12.000000,31.000000,35.000000,15.000000,19.600000

In [6]:
wh2.describe()

       Precipitation amount (mm)  Snow depth (cm)  Air temperature (degC)
count                 365.000000       358.000000              365.000000
mean                    1.966301         0.966480                6.527123
std                     4.858423         3.717472                7.183934
min                    -1.000000        -1.000000              -17.800000
25%                    -1.000000        -1.000000                1.200000
50%                     0.200000        -1.000000                4.800000
75%                     2.700000         0.000000               12.900000
max                    35.000000        15.000000               19.600000

In [10]:
# Data from 2017
y2017 = wh[wh.Year == 2017]
y2017

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8
...,...,...,...,...,...,...,...,...
360,2017,12,27,00:00,UTC,1.1,-1.0,3.8
361,2017,12,28,00:00,UTC,3.7,-1.0,2.8
362,2017,12,29,00:00,UTC,7.8,-1.0,3.8
363,2017,12,30,00:00,UTC,4.1,-1.0,2.5
364,2017,12,31,00:00,UTC,3.2,-1.0,1.6

In [29]:
# Max value
m = y2017.loc[:, "Snow depth (cm)"].max()
m

15.0